.menu-burger-main {
  position: relative;
  height: 100vh;
  .menu-burger-container {
    background: rgb(0, 37, 79);
    background: linear-gradient(90deg, rgba(0, 37, 79, 1) 36%, rgba(3, 56, 115, 1) 75%);
    opacity: 0.9;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    //   height: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    position: fixed;
    z-index: 50;
    left: 0;
    width: 25rem;

    li {
      list-style: none;
      padding: 1rem 0 1rem 1rem;
    }
  }
}
