$main-white: #f0f0f0;
$primary-pink: #f5cac3;
$primary-green: #84a59d;
$primary-red: #f28482;
$primary-yellow: #f6bd60;

:root {
  --main-white: #{$main-white};
  --primary-pink: #{$primary-pink};
  --primary-green: #{$primary-green};
  --primary-red: #{$primary-red};
  --primary-yellow: #{$primary-yellow};
}

.main-menu {
  background-color: $primary-pink;
}
